.plan-card {
  margin: 1rem;

  border-bottom: 10px solid #eae6e0;
}

.plan-card__main {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.plan-card__image {
  margin-top: 0.5rem;
  width: 180px;
  border-radius: 15px;
}

.plan-card__details {
  margin-top: 0.5rem;
  margin-right: 1rem;

  align-items: center;
  gap: 10px;
}

.plan-car__details__date {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.plan-card__button {
  margin-bottom: 1rem;
}


@media (min-width: 1200px) {
  .plan-card {
    padding-top: 1.8rem ;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto; 
    
  }
  
  .plan-card__main {
    flex-direction: row;
    justify-content: space-between;
    
    
    
  }

  .plan-card__image {
    width: 200px;
}

.plan-card__details {
    margin-right: 80px;
    
     
}

.plan-card__button {
    margin-bottom: 1.5rem;
}


@media (max-width: 768px) {
    .plan-card__image {
        width: 120px; 
    }
  }
    .plan-card__main {
        padding: 0.5rem; 
    }
}