.plan-card {
  margin: 1rem;

  border-bottom: 15px solid rgb(247, 247, 247);
}

.plan-card__main {
  display:flex;
  justify-content: space-between;

  flex-direction: row;
}

.plan-card__image {
    margin-top: 0.5rem;
  width: 180px;
  border-radius: 15px;
}

.plan-card__details {
    margin-top: 0.5rem;
  margin-right: 1rem;

  align-items: center;
  gap: 10px;
}

.plan-car__details__date {
    margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.plan-card__button {
  margin-bottom: 1rem;
}
