.edit-profile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 500px;
    gap: 10px;
    padding: 30px;
    background-color: rgb(233, 230, 225);
    h3{
        color: #a74d4a;
    }
}

.edit-profile__title{
    margin-bottom: 16px;
    font-size: 28px;
    color:  rgb(152,82,77);
}

.edit-profile form {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.edit-profile form input{
    display: block;
    padding: 16px;
    border: none;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    border-radius: 8px;
    background-color: rgba(152, 82, 77, 0.189);
    font-size: 16px;
    margin-bottom: 8px;
}

.edit-profile form button{
    background-color: #a74d4a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 16px 24px;
    font-size: 16px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    align-self: center; 
}


@media (min-width: 1200px){

  .edit-profile{
    min-height: 600px;
  }


}