.home-page{


}

.home-page__header {
    background-image: url(../assets/header.jpg);
    width: 380px;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items:normal;
    justify-content: center;
    text-align:center;
    padding-top: 30px;

    h1{
        color: #838181;

    }
   
    
}

