.login-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 30px;
    background-color: rgb(233, 230, 225);
}

.login-page form input{
    display: block;
    padding: 16px;
    border: none;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    border-radius: 8px;
    background-color: rgba(152, 82, 77, 0.189);
    font-size: 16px;
    margin-bottom: 8px;
}

.login-page__title {
    margin-bottom: 16px;
    font-size: 28px;
    color:  rgb(152,82,77);
}

.login-page form {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .login-page form button {
    background-color: #a74d4a;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 16px 24px;
    font-size: 16px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }