

.plan-details__image {
  width: 400px;
}

.plan-details__details {
  margin: 1rem;
}

.plan-details__join-button {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  background-color: #a74d4a;
  color: white;
  border: none;

}




.plan-details__details__date {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight:bolder;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.plan-details__details__location {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin-bottom: 1rem;
  align-items: center;
  
}

.plan-details__details__location img {
  width: auto;
  height: 20px;
}

.plan-details__attendance {
  margin: 1rem;
}


.plan-details__buttons {
  display: flex;
  gap: 10px;
  margin: 1rem;


}

.plan-details__back-button{

  display: flex;
  flex-direction: inherit;
  margin: 1rem;
  align-items:end;
 
  h4{
    color: #a74d4a;
  }
}
  


@media (min-width: 1200px) {


  .plan-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; 
    max-width: 1200px;
  
  }

  .plan-details__map {
    max-width: 1200px;
    margin-bottom: 1rem;
    
}
  
.plan-details__image {
  display: flex;
  width: 100%; 
  max-width: 1200px;
  justify-content: center;
  align-items: center; 
}

.plan-details__details {
    display: flex;
    flex-direction: column;
   
   
    margin: 2rem;
}

.plan-details__join-button {
    width: auto;
    padding: 15px 20px; 
    font-size: 18px;
}

.plan-details__details__date,
.plan-details__details__location {
    font-size: 16px; 
}

.plan-details__buttons {
    display: flex;
    gap: 15px; 
}

.plan-details__back-button {
    margin: 2rem;
    align-items: flex-start; 
}
}