
.user-homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
 height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color:  rgb(233, 230, 225);
  gap:30px;

  h1{
    color: rgb(152,82,77) ;
  }

}

.user-homepage__title{
  margin: 0.5rem 0;
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
}

.user-homepage__subtitle{
  margin-bottom: 0;
  font-size:1.8rem;
  color: #000000;
}

.user-homepage-my-plans, 
.user-homepage-joined-plan,
.user-homepage-find-plans {
  background-color: rgba(255, 255, 255, 0.804);
  border-radius: 15px;
  margin-bottom: 1.2rem;
}

.user-homepage-my-plans__title,
.user-homepage-joined-plan__title,
.user-homepage-find-plans__title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 1rem;
  background: rgb(152,82,77);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-right: 30px
}

.plan-list {
  padding: 1rem;
}

.user-homepage__btn {
  background-color: rgb(255, 255, 255);
    border: solid  rgb(152,82,77);
    border-radius: 24px;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;

    
    
}
.user-homepage__no-created-plan-message {
  color:  rgb(152,82,77);;
  text-align: center;
  padding: 1.5rem;

}
 


 