.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    padding: 24px 16px;
    background-color: white;
    border-radius: 4px;
  }
  