.nav-bar {
  background-color: #ffffff;
  padding: 20px;
  width: 100%;

  display: flex;
  align-content: space-around;
  justify-content: center;

  height: 64px;
  position: sticky;
  top: 0;
}

.nav-bar__logo {
  width: auto;
  height: 30px;

  margin-left: 0.5rem;
  margin-right: 2rem;
}

.nav-bar__iniciar-button {
  border-color: #a74d4a;
  background-color: white;
  color: #a74d4a;
  border-radius: 10px;
  margin-right: 1rem;
  width: 100px;
  height: 30px;
}

.nav-bar__registrate-button {
    border-radius: 10px;
    background-color: #a74d4a;
    color: #ffffff;
  width: 90px;
  height: 30px;
}

