.nav-bar {
  background-color: white;
  padding: 20px 20px;
  width: 100%;

  display: flex;
  align-content: space-around;
  justify-content: space-around;
  border-bottom: #000000 solid 1px;
  height: 80px;
  position: sticky;
  top: 0;
}

.nav-bar__logo {
  width: 110px;
  height: 40px;
  margin-right: 5.5rem;
}

.nav-bar__iniciar-button {
  border-color: #a74d4a;
  background-color: white;
  color: #a74d4a;
  border-radius: 10px;
  margin-right: 1rem;
  width: 100px;
  height: 30px;
}

.nav-bar__registrate-button {
    border-radius: 10px;
    background-color: #a74d4a;
    color: #ffffff;
  width: 90px;
  height: 30px;
}
