.nav-bar{
   
        background-color: #ffffff; 
        padding: 20px 20px;
        width: 100%;
        display: flex;
        align-content: space-around;
        justify-content: center;
        border-bottom: #000000 solid 1px;
       

}

.nav-bar__logo{

    width: 90px;
    height: 40px;
    margin-right: 5.5rem;
}

.nav-bar__iniciar-button{

    margin-right: 1.5rem;
    width: 100px;
    height: 30px;


}

.nav-bar__registrate-button{

    width: 80px;
    height: 30px;
}
